* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

hr {
  height: 1px;
  color: red;
  background-color: red;
}

.navbar {
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  height: 90px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(44, 50, 65, 0.08);
          box-shadow: 0 4px 16px 0 rgba(44, 50, 65, 0.08);
  background-color: #ffffff;
}

.navbar .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo-container .nav-logo {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  background-blend-mode: overlay;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #ffffff, #ffffff);
}

.navbar .logo-container .nav-logo .icon {
  margin: 9px 13px 10.5px 14px;
  width: 33px;
  height: 40.5px;
}

.navbar .nav-brand {
  margin-left: 15px;
  min-width: 250px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: rgba(43, 41, 45, 0.6);
}

.navbar .nav-brand h1 {
  color: #2b292d;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
}

.navbar .nav-brand h5 {
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 0px;
  color: var(--charcoal-grey);
  line-height: 25px;
}

.navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 460px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .nav-links button {
  color: #2b292d;
  font-size: 18px;
  background: none;
  border: none;
  line-height: 13px;
  letter-spacing: 0px;
}

.navbar .nav-links button:hover {
  cursor: pointer;
}

.navbar .nav-links a {
  color: #2b292d;
  font-size: 18px;
  background: none;
  border: none;
  line-height: 13px;
  letter-spacing: 0px;
  text-decoration: none;
}

.navbar .nav-links a.active {
  font-weight: 900;
}

.navbar .nav-links a:hover {
  cursor: pointer;
}

.navbar .nav-links .get-started {
  color: #ffffff;
  line-height: 13px;
  letter-spacing: 0px;
  font-weight: bolder;
  width: 160px;
  height: 48px;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  background-blend-mode: overlay;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, from(#3040c4), to(#3040c4));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #3040c4, #3040c4);
}

.body-wrapper {
  background-color: #f9fafb;
}

.body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 233px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9fafb), to(#e0dfdf));
  background-image: linear-gradient(to top, #f9fafb, #e0dfdf);
  border-bottom: 1px solid lightgray;
}

.body-header h1 {
  color: #2b292d;
  font-size: 56px;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.5px;
  text-align: center;
}

.form-container {
  padding: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.body-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 500px;
  max-width: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.body-form #question-input {
  color: red;
}

.body-form input {
  width: 554px;
  height: 48px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
}

.body-form input[type="text"] {
  padding-left: 15px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #2c3241;
}

.body-form label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: -15px;
  color: #2c3241;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.38;
  letter-spacing: normal;
}

.body-form textarea {
  padding-left: 15px;
  width: 554px;
  height: 168px;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  opacity: 0.6;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 2;
  letter-spacing: normal;
  color: #2c3241;
  resize: none;
}

.body-form button {
  width: 569px;
  height: 48px;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.72;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  background-color: #3040c4;
}

.footer-wrapper {
  padding: 5% 15% 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: auto;
  height: 389px;
  -webkit-box-shadow: 0 4px 16px 0 rgba(44, 50, 65, 0.08);
          box-shadow: 0 4px 16px 0 rgba(44, 50, 65, 0.08);
  background-color: #ffffff;
}

.footer-wrapper .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-wrapper .logo-container .nav-logo {
  width: 60px;
  height: 60px;
  border-radius: 14px;
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
  background-blend-mode: overlay;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0))), -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), linear-gradient(to bottom, #ffffff, #ffffff);
}

.footer-wrapper .logo-container .nav-logo .icon {
  margin: 9px 13px 10.5px 14px;
  width: 33px;
  height: 40.5px;
}

.footer-wrapper .nav-brand {
  margin-left: 15px;
  min-width: 250px;
  height: auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: rgba(43, 41, 45, 0.6);
}

.footer-wrapper .nav-brand h1 {
  color: #2b292d;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0px;
}

.footer-wrapper .nav-brand h5 {
  font-size: 18px;
  font-weight: lighter;
  letter-spacing: 0px;
  color: var(--charcoal-grey);
  line-height: 25px;
}

.footer-wrapper ul {
  margin-top: 15px;
}

.footer-wrapper ul li {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: normal;
  color: rgba(43, 41, 45, 0.6);
  list-style-type: none;
}

.footer-wrapper .store {
  margin: 25px 10px 0 0;
  width: 120px;
}

.seperater {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.seperater p {
  margin-top: 25px;
  line-height: 1.67;
  letter-spacing: normal;
  color: rgba(43, 41, 45, 0.6);
  max-width: 300px;
}

.footers-footer {
  border-top: 0.5px solid lightgray;
  padding: 0 10%;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.footers-footer .footer-links {
  text-decoration: none;
  color: rgba(43, 41, 45, 0.6);
}

.footers-footer .social-media {
  min-width: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footers-footer .social-media .social-media-links {
  max-width: 17px;
}
/*# sourceMappingURL=style.css.map */