$primaryColor: #2b292d;
$secondaryColor: rgba(43, 41, 45, 0.6);
$textColor: #2c3241;

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

hr {
  height: 1px;
  color: red;
  background-color: red;
}

@import "./components/navbar";
@import "./components/body";
@import "./components/footer";
