.body-wrapper {
  background-color: #f9fafb;
}

.body-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 233px;
  background-image: linear-gradient(to top, #f9fafb, #e0dfdf);
  border-bottom: 1px solid lightgray;

  h1 {
    color: $primaryColor;
    font-size: 56px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    letter-spacing: -0.5px;
    text-align: center;
  }
}

.form-container {
  padding: 5% 0;
  display: flex;
  justify-content: center;
}
.body-form {
  display: flex;
  min-height: 500px;
  max-width: 600px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  #question-input {
    color: red;
  }
  input {
    width: 554px;
    height: 48px;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;

    &[type="text"] {
      padding-left: 15px;
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      letter-spacing: normal;
      color: $textColor;
    }
  }

  label {
    align-self: flex-start;
    margin-bottom: -15px;
    color: $textColor;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
  }
  textarea {
    padding-left: 15px;
    width: 554px;
    height: 168px;
    border-radius: 2px;
    box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: solid 1px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    opacity: 0.6;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2;
    letter-spacing: normal;
    color: $textColor;
    resize: none;
  }

  button {
    width: 569px;
    height: 48px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05), 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
    background-color: #3040c4;
  }
}
