.footer-wrapper {
  padding: 5% 15% 0 25px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  width: auto;
  height: 389px;
  box-shadow: 0 4px 16px 0 rgba(44, 50, 65, 0.08);
  background-color: #ffffff;

  .logo-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .nav-logo {
      width: 60px;
      height: 60px;
      border-radius: 14px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05),
        0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
      background-blend-mode: overlay;
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(to bottom, #ffffff, #ffffff);
      .icon {
        margin: 9px 13px 10.5px 14px;
        width: 33px;
        height: 40.5px;
      }
    }
  }

  .nav-brand {
    margin-left: 15px;
    min-width: 250px;
    height: auto;
    align-self: center;
    color: $secondaryColor;
    h1 {
      color: $primaryColor;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0px;
    }

    h5 {
      font-size: 18px;
      font-weight: lighter;
      letter-spacing: 0px;
      color: var(--charcoal-grey);
      line-height: 25px;
    }
  }
  ul {
    margin-top: 15px;
    li {
      font-size: 18px;
      line-height: 1.67;
      letter-spacing: normal;
      color: $secondaryColor;
      list-style-type: none;
    }
  }
  .store {
    margin: 25px 10px 0 0;
    width: 120px;
  }
}

.seperater {
  flex-direction: column;

  p {
    margin-top: 25px;
    line-height: 1.67;
    letter-spacing: normal;
    color: $secondaryColor;
    max-width: 300px;
  }
}

.footers-footer {
  border-top: 0.5px solid lightgray;
  padding: 0 10%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;

  .footer-links {
    text-decoration: none;
    color: $secondaryColor;
  }
  .social-media {
    min-width: 90px;
    display: flex;
    justify-content: space-around;
    .social-media-links {
      max-width: 17px;
    }
  }
}
