.navbar {
  padding: 0 10%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 90px;
  box-shadow: 0 4px 16px 0 rgba(44, 50, 65, 0.08);
  background-color: #ffffff;

  .logo-container {
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .nav-logo {
      width: 60px;
      height: 60px;
      border-radius: 14px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05),
        0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
      background-blend-mode: overlay;
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(to bottom, #ffffff, #ffffff);
      .icon {
        margin: 9px 13px 10.5px 14px;
        width: 33px;
        height: 40.5px;
      }
    }
  }

  .nav-brand {
    margin-left: 15px;
    min-width: 250px;
    height: auto;
    align-self: center;
    color: $secondaryColor;
    h1 {
      color: $primaryColor;
      font-size: 20px;
      line-height: 25px;
      letter-spacing: 0px;
    }

    h5 {
      font-size: 18px;
      font-weight: lighter;
      letter-spacing: 0px;
      color: var(--charcoal-grey);
      line-height: 25px;
    }
  }

  .nav-links {
    display: flex;
    min-width: 460px;
    // wrap doesn't work. Fix it!!
    align-items: center;
    justify-content: space-around;

    button {
      color: $primaryColor;
      font-size: 18px;
      background: none;
      border: none;
      line-height: 13px;
      letter-spacing: 0px;

      &:hover {
        cursor: pointer;
      }
    }

    a {
      color: $primaryColor;
      font-size: 18px;
      background: none;
      border: none;
      line-height: 13px;
      letter-spacing: 0px;
      text-decoration: none;

      &.active {
        font-weight: 900;
      }

      &:hover {
        cursor: pointer;
      }
    }

    .get-started {
      color: #ffffff;
      line-height: 13px;
      letter-spacing: 0px;
      font-weight: bolder;
      width: 160px;
      height: 48px;
      border-radius: 2px;
      box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05),
        0 1px 3px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 0 rgba(255, 255, 255, 0.1);
      background-blend-mode: overlay;
      background-image: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.5),
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(to bottom, #3040c4, #3040c4);
    }
  }
}
